<div class="tabs">
  
  <input type="radio" id="tab1" name="tab-control" checked>
  <input type="radio" id="tab2" name="tab-control">
  <input type="radio" id="tab3" name="tab-control">  
  <input type="radio" id="tab4" name="tab-control">
  <ul>
    <li title="Features"><label for="tab1" role="button"><i class="fas fa-university"></i><br><span>Giới thiệu</span></label></li>
    <li title="Delivery Contents"><label for="tab2" role="button"><i class="fas fa-flag"></i><br><span>Tầm nhìn</span></label></li>
    <li title="Shipping"><label for="tab3" role="button"><i class="fas fa-award"></i><br><span>Sứ mệnh</span></label></li>    
    <li title="Returns"><label for="tab4" role="button"><i class="fas fa-atom"></i><br><span>Giá trị</span></label></li>
  </ul>
  
  <div class="slider"><div class="indicator"></div></div>
  <div class="content">
    <section>
      <h2>Giới thiệu</h2> 
      <p>SWEETHOME là thương hiệu chuyên cung cấp các sản phẩm như bánh, kẹo, snacks, bột,..được nhập khẩu và lấy từ những nguồn hàng chất lượng, uy tín.</p>
      <p>Với  tất cả các kinh nghiệm của mình, SWEETHOME tự hào được nhiều khách hàng yêu thích và lựa chọn bởi sự đa dạng trong các loại sản phẩm, tận tâm trong cách phục vụ và tinh thần không ngừng đổi mới, sáng tạo, cải tiến để mang đến những trải nghiệm tốt nhất cho khách hàng.</p>
      <p>Đến với SWEETHOME- ăn là vui!!! Bạn sẽ như lạc vào thế giới của bánh kẹo, nước uống,.....</p>
      <p>Bánh, kẹo phong phú đa dạng dùng ăn hoặc biếu tặng: Bánh Chocopie, bánh quy AFC, kẹo đường,..</p>
      <p>Nước uống đóng chai,các loại nước ngọt chất lượng. Có tất cả các loại bột làm bánh để bạn có thể tùy chọn tạo nên những chiếc bánh mà mình muốn,..</p>
      <p>SWEETHOME luôn cố gắng mỗi ngày để mang đến cho khách hàng những sản phẩm mới với chất lượng tốt nhất.</p>
      <p>Chúng tôi mong muốn khách hàng đến với SWEETHOME không chỉ mua hàng, mà còn được tư vấn, hỗ trợ tốt nhất để chọn được những sản phẩm phù hợp với bản thân và gia đình.</p>
    </section>
    <section>
        <h2>Tầm nhìn</h2>
        <div class="box">
            <div class="box-left">
                <img src="assets/vision.png" alt="">
            </div>
            <div class="box-right">
                <p>Trở thành một chuỗi bán sỉ, lẻ có uy tín hàng đầu, có hệ thống phân phối trên toàn quốc.</p>
                <p>Phát triển bao phủ đa kênh bán hàng, phục vụ khách hàng với chất lượng tốt nhất ở tất cả các kênh bán.</p>
            </div>
          </div>
    </section>
    <section>
        <h2>Sứ mệnh</h2>
        <div class="box">
            <div class="box-left">
                <img src="assets/mission.png" alt="">
            </div>
            <div class="box-right">
                <p>Xuất phát từ việc giải quyết và đáp ứng nhu cầu của khách hàng về các sản phẩm có chất lượng. SWEETHOME được sinh ra với mục tiêu “Chất lượng và vui vẻ”, do đó chất lượng sản phẩm và sự hài lòng, vui vẻ của khách hàng luôn là tiêu chí hàng đầu trong suốt quá trình hình thành và phát triển kinh doanh của thương hiệu.</p>
            </div>
          </div>
    </section>
    <section>
        <h2>Giá trị cốt lõi</h2>
        <div class="box">
            <div class="box-left">
                <img src="assets/value.png" alt="">
            </div>
            <div class="box-right">
                <p>Chất lượng & trải nghiệm dịch vụ của khách hàng luôn được đặt lên hàng đầu.</p>
                <p>Đội ngũ nhân viên công ty kinh nghiệm, nhiệt tình luôn nỗ lực hết mình trong từng dịch vụ cung cấp cho khách hàng.</p>
                <p>Không ngừng học hỏi và thay đổi để ngày càng hoàn thiện chất lượng dịch vụ.</p>
            </div>
        </div>
    </section>
  </div>
</div>