<section>
  <div app-section-about></div>
  <div app-section-brand></div>
  <br>
  <h2 style="text-align:center">Thành viên</h2>
  <br>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="assets/avata/thuynguyen.png" alt="Thúy Nguyễn" style="width:100%">
      <div class="box">
        <h2>Nguyễn Thị Thúy</h2>
        <p class="title">Leader & Coder</p>
        <p>thuynt19406@st.uel.edu.vn</p>
        <a href="https://www.facebook.com/thuynt.168/" target="_blank"><button class="button">Liên hệ</button></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/avata/buu.png" alt="Bửu" style="width:100%">
      <div class="box">
        <h2>Lý Nhựt Bửu</h2>
        <p class="title">Business Analyst</p>
        <p>buuln19406@st.uel.edu.vn</p>
        <a href="https://www.facebook.com/profile.php?id=100075408794247" target="_blank"><button class="button">Liên hệ</button></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/avata/haoho.png" alt="Hảo Hồ" style="width:100%">
      <div class="box">
        <h2>Hồ Thị Hảo</h2>
        <p class="title">Business Analyst</p>
        <p>haoht19406@st.uel.edu.vn</p>
        <a href="https://www.facebook.com/hao.ho.9083477" target="_blank"><button class="button">Liên hệ</button></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/avata/dung.png" alt="Dung" style="width:100%">
      <div class="box">
        <h2>Phùng Ngọc Dung</h2>
        <p class="title">Designer</p>
        <p>dungpn19406@st.uel.edu.vn</p>
        <a href="https://www.facebook.com/ngocdung028" target="_blank"><button class="button">Liên hệ</button></a>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="assets/avata/thuyluu.png" alt="Thúy Lưu" style="width:100%">
      <div class="box">
        <h2>Lưu Thị Thúy</h2>
        <p class="title">Designer</p>
        <p>thuylt19406@st.uel.edu.vn</p>
        <a href="https://www.facebook.com/dii.thuy.505" target="_blank"><button class="button">Liên hệ</button></a>
      </div>
    </div>
  </div>
</div>

</section>
<div app-footer></div>
