<div id="group">
    <div id="block">
        <table>
            <tr>
                <td><i class="fas fa-gift"></i></td>
                <td><b>Mua hàng tiện lợi</b><br>Chỉ với 1 thao tác</td>
            </tr>
        </table>
    </div>
    <div id="block">
        <table>
            <tr>
                <td><i class="fas fa-tag"></i></td>
                <td><b>Giá cả hấp dẫn</b><br>Giảm tới 30%</td>
            </tr>
        </table>
    </div>
    <div id="block">
        <table>
            <tr>
                <td><i class="fas fa-headphones"></i></td>
                <td><b>Hỗ trợ khách hàng</b><br>24/24 tất cả các ngày</td>
            </tr>
        </table>
    </div>
    <div id="block">
        <table>
            <tr>
                <td><i class="fas fa-truck"></i></td>
                <td><b>Miễn phí vận chuyển</b><br>Trong vòng 3km</td>
            </tr>
        </table>
    </div>
</div>
