<section class="footer">
  <div class="footer-parent">
    <div class="footer-child-1">
      <h1 style="font-size: 30px;">SWEETHOME</h1>
      <p>Lorem Ipsum has been the <br> industry's standard dummy  text <br> ever since the 1500s</p>
      <div class="social-media-list">
        <span><a href="#" target="_blank" class="contact-icon">
          <i class="fab fa-facebook-f" aria-hidden="true"></i></a>
        </span>
        <span><a href="#" target="_blank" class="contact-icon">
          <i class="fab fa-instagram" aria-hidden="true"></i></a>
        </span>
        <span><a href="#" target="_blank" class="contact-icon">
          <i class="far fa-comment" aria-hidden="true"></i></a>
        </span>      
    </div>
    </div>
    <div class="footer-child-2">
      <div class="footer-child">
        <h3>SWEETHOME</h3>
        <p class="highlight" routerLink="/products">Sản phẩm</p>
        <p class="highlight" routerLink="about">Giới thiệu</p>
        <p class="highlight">Liên hệ</p>
      </div>
      <div class="footer-child">
        <h3>Chúng tôi</h3>
        <p class="highlight">FAQ</p>
        <p class="highlight">Công ty</p>
        <p class="highlight">Thống kê</p>
      </div>
      <div class="footer-child">
        <h3>Trợ giúp</h3>
        <p class="highlight">SĐT: 0399840479</p>
        <p class="highlight">Email: cskh@sweethome.vn</p>
      </div>
    </div>
  </div>
</section>