/* You can add global styles to this file, and also import other style files */
@import "https://fonts.googleapis.com/icon?family=Material+Icons";
@import url(https://fonts.googleapis.com/css?family=Manrope:400,700);
*{
    margin: 0px;
    padding: 0px;
    font-family: Manrope;
    word-spacing: 2px;
}
p{
    margin: 10px 0;
}

