/* .container{
    margin:0% 7% 20% 7%;
    padding-top: 120px;
    
}
.content{
    display: flex;
    flex-direction: row;
    
}
.title{
    text-align: center;
    color: #ec5a5c;
    margin: 3%;
    font-weight: bold;
    font-size: larger;

}
.left{
    flex-grow: 1;
    width: 40%;
    word-spacing: 2px;
    
}
.left-item{
    margin:4%;
}
.left-item-input {
    background-color:#f9fafb;
    border-radius: 5px;
    width: 90%;
    height: 20px;
    border-style:inset ;
}

.item-announce{
    margin: 3%;
    font-size: larger;
    font-weight: bold;
}
.item-infor{
    margin:3% 6% 3% 3%;
    padding-right:6%;
    
}
.right {
    width: 40%;
    flex-grow: 1;
}
.right-content{
    background-color: #FFF8F8;
    padding:3%;
}
table,tr,td{
    padding:5px;
}
.price{
    text-align: right;
}
.button-continue{
    text-align: left;
    border-color: #ec5a5c;
    background-color:#FFF8F8;
    width: 150px;
    height: 30px;
    border-radius: 5px;
}
.button-payment{
    background-color: #ec5a5c;
    width:150px;
    height:30px;
    border-radius: 5px;
    border-color:#ec5a5c;
}
@media screen and (max-width: 768px) {
    .content {
            display: flex;
            flex-direction: column;
            width: 100%
        }
    
        .right {
            width: 100%
        }
    
        .left {
            width: 100%
        }
}
@media screen and (max-width: 650px) {
    .content {
        display:flex;
        flex-direction: column;
        width:100%
    }
    .right{
        width:100%
    }
    .left{
        width:100%
    }
} */

  
  * {
    /* font-family: "Roboto", sans-serif; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  body {
    padding-top: 180px;
  }
  
  address {
    font-style: normal;
  }
  
  
  button {
    border: 0;
    color: inherit;
    cursor: pointer;
    font: inherit;
  }
  
  fieldset {
    border: 0;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    font-size: 1.25rem;
    font-size: var(--font-size-h1);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 1.5em;
  }
  
  h2 {
    font-size: 1rem;
    font-size: var(--font-size-h2);
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  
  legend {
    font-weight: 600;
    margin-bottom: 0.5em;
    padding: 0;
  }
  
  input {
    border: 0;
    color: inherit;
    font: inherit;
  }
  
  input[type="radio"] {
    accent-color: #fc8080;
    accent-color: var(--color-primary);
  }
  
  table {
    border-collapse: collapse;
    width: 100%;
  }
  
  tbody {
    color: #b4b4b4;
  }
  
  td {
    padding-top: 0.125em;
    padding-bottom: 0.125em;
  }
  
  tfoot {
    border-top: 1px solid #b4b4b4;
    font-weight: 600;
  }
  
  .align {
    display: grid;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    place-items: center;
  }
  
  .button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fc8080;
    /* background-color: var(--color-primary); */
    border-radius: 999em;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    grid-gap: 0.5em;
    gap: 0.5em;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 1em;
    padding-right: 1em;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  
  .button:focus,
  .button:hover {
    background-color: #e96363;
  }
  
  .button--full {
    width: 100%;
  }
  
  .card input{
    width: 100%;
    padding: 5px 0px;
    border: none;
    border-bottom: 1px solid #000;
    font-size: 15px;
    background-color: #fbf6f7;
  }
  .card input:focus{
    outline: none;
    border-bottom: 1px solid #07f;
  }
  .form {
    display: grid;
    grid-gap: 2em;
    gap: 2em;
  }
  
  .form__radios {
    display: grid;
    grid-gap: 1em;
    gap: 1em;
  }
  
  .form__radio {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: #fefdfe;
    border-radius: 1em;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 1em;
  }
  
  .form__radio label {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    grid-gap: 1em;
    gap: 1em;
  }
  
  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
  }
  svg.icon{
    height: 1em;
    width: 1em;
    display: inline-block;
    fill: currentColor;
    vertical-align: middle;
  }
  span.icon {
    height: 2em;
    display: inline-block;
    fill: currentColor;
    width: 2em;
    vertical-align: middle;
  }
  .icon img{
    width: 100%;
    height: 100%;
  }
  .iphone {
    background-color: #fbf6f7;
    border-radius: 2em;
    -webkit-box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
            box-shadow: 0 0 1em rgba(0, 0, 0, 0.0625);
    width: 70%;
    overflow: auto;
    padding: 2em;
    margin: auto;
    display: flex;
    flex-direction: row;
  }
  .info{
    flex: 1;
    margin: 1em;
  }
  .cart{
    flex: 1;
    margin: 1em;
  }
  .summary-total-items {
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
  
  .summary-subtotal,
  .summary-total {
    clear: both;
    margin: 0.5rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
  }
  
  .subtotal-title,
  .subtotal-value,
  .total-title,
  .total-value,
  .promo-title,
  .promo-value {
    color: #111;
    float: left;
    width: 50%;
  }
  
  .summary-promo {
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
  }
  
  .promo-title {
    float: left;
    width: 70%;
  }
  
  .promo-value {
    color: #8B0000;
    float: left;
    text-align: right;
    width: 30%;
  }
  
  .summary-delivery {
    padding-bottom: 3rem;
  }
  
  .subtotal-value,
  .total-value {
    text-align: right;
  }
  
  .total-title {
    font-weight: bold;
    text-transform: uppercase;
  }
@media screen and (max-width: 768px) {
  body {
    padding-top: 120px;
  }
  .iphone{
    flex-direction: column;
    width: 60%;
  }
}
@media screen and (max-width: 500px) {
  .iphone{
    width: 80%;
  }
}