
<div class="contact">
    <div style="text-align: center;">
        <h2>LIÊN HỆ VỚI CHÚNG TÔI</h2>
    </div>
    <div class="contact-parent">
       <div class="contact-child">
            <p><i class="fas fa-map-marker-alt"></i></p>
            <p>Số 669 Quốc lộ 1, KP 3, Linh Xuân, Thủ Đức, TP. Hồ Chí Minh</p>
        </div>
        <div class="contact-child">
            <p><i class="far fa-envelope"></i></p>
            <p>cskh@sweethome.vn</p>
        </div>
        <div class="contact-child">
            <p><i class="fas fa-phone-alt"></i></p>
            <p>0888130558</p>
        </div>
        <div class="contact-child">
            <p><i class="far fa-calendar-alt"></i></p>
            <p>Thứ 2 đến Thứ 6 (8h - 18h); <br> Thứ 7 và Chủ nhật (8h - 17h)</p>
        </div>
    </div>
    <div class="social-media-list">
        <span><a href="https://www.facebook.com/thuynt.168" target="_blank" class="contact-icon">
          <i class="fab fa-facebook-square" aria-hidden="true"></i></a>
        </span>
        <span><a href="https://www.facebook.com/messages/t/100038742110486" target="_blank" class="contact-icon">
          <i class="fab fa-facebook-messenger" aria-hidden="true"></i></a>
        </span>
        <span><a href="#" target="_blank" class="contact-icon">
          <i class="fab fa-twitter" aria-hidden="true"></i></a>
        </span>
        <span><a href="https://www.instagram.com/_ngty.168/?igshid=ZDdkNTZiNTM%3D" target="_blank" class="contact-icon">
          <i class="fab fa-instagram" aria-hidden="true"></i></a>
        </span>       
    </div>
</div>
