
<section class="main"></section>
<section app-slide-banner></section>
<section app-section-about></section>
<section app-section-product></section>
<section>
    <div class="box">
        <div class="box-left">
            <iframe src="https://www.youtube.com/embed/hWVJucr3Il8" frameborder="0" width="300px" height="500px"></iframe>  
        </div>
        <div class="box-right">
            <input type=radio id="inputShownContent3" name="group3" />
            <span id="myReadMore">
                <b style="font-size: 30px;">VÌ SAO PHẢI CHỌN CHÚNG TÔI</b>
                <p>Với nhiều năm kinh nghiệm trong lĩnh vực, cùng đội ngũ nhân viên giàu kinh nghiệm, nhiệt tình, với đa dạng các sản phẩm dịch vụ chúng tôi tự hào là đơn vị cung cấp bánh, kẹo tốt nhất và tiện lợi nhất cho khách hàng.</p>
                <p>
                    <label for="inputShownContent3"><span>Xem thêm....</span></label>
                </p>
            </span>
            <br />
            <span id="spanHiddenContent3">
                <p>Với nhiều năm kinh nghiệm trong lĩnh vực, cùng đội ngũ nhân viên giàu kinh nghiệm, nhiệt tình, với đa dạng các sản phẩm dịch vụ chúng tôi tự hào là đơn vị cung cấp bánh, kẹo tốt nhất và tiện lợi nhất cho khách hàng.</p>
                <b>Năng lực kinh doanh:</b>
                <p>- Triển khai bán hàng online trực tiếp và thông qua các sàn thương mại điện tử trong nước và quốc tế.</p>
                <p>- SWEETHOME đã xúc tiến và thiết lập thành công mạng lưới khách hàng xuất khẩu tại hơn 12 quốc gia và vùng lãnh thổ như Nhật Bản, Hàn Quốc, Trung Quốc, Myanmar, Thái Lan, Singapore, Campuchia, Lào v.v…</p>
                <p>- Luôn giao sản phẩm đến với khách hàng kịp thời, đúng chủng loại, đủ số lượng với chất lượng cao nhất trong hạn sử dụng.</p>
                <label for="inputHiddenContent3">
                    <span>Thu gọn</span>
                </label>
            </span>
            <input type=radio id="inputHiddenContent3" name="group3" />
            <p></p>
        </div>
    </div>
</section>
<section app-section-content></section>
<section app-section-contact></section>
<section app-section-brand></section>
<section app-section-support></section>
<section app-footer></section>